.input-head {
  position: absolute;
  width: 100%;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  outline: none;
  overflow: hidden; /* Ensure content outside the box is hidden */
  z-index: 3;
  background-color: transparent;
}

.input-head input {
  position: relative;
  width: 0; /* Start with width as 0 */
  height: 80%;
  background-color: aliceblue;
  color: black;
  text-align: center;
  border-radius: 20px;
  
  outline: none;
  border-color: green;
  animation: slideFromLeft 1s forwards; 
  background-color: transparent;
  backdrop-filter: blur(3px); 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.input-head input:hover {
  backdrop-filter: blur(10px); /* Increase blur on hover */
}


@keyframes slideFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 60%; /* Slide to 60% width */
  }
}
@keyframes opacityforsearch {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.inner-search {
  animation: opacityforsearch 3s ease-in-out;
  position: absolute;
  right: 20%;
}

.three-line {
  color: black;
  display: none;
}

.boldtext {
  font-weight: bold;
}

.dropdown-content {
  width: 100%;
}

.swiper-container{
  color: #000;
}
